.graph-container {
  margin: 30px;
}

.graph-container .graph-title {
  margin-top: 25px;
}

.graph-container .graph-matrix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.graph-container .graph-matrix .matrix {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.graph-container .graph-matrix .matrix .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.graph-container .graph-matrix .matrix .row .row-item {
  min-height: 30px;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

